.navbar {
  background-color: var(--bg-color);
  box-shadow: var(--shadow-sm);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9994;
}
.link-class {
  display: flex;
  gap: 5px;
}
.link-name {
  padding-top: 3px;
}
.navbar-container {
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-lg);
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
}

.navbar-menu {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  color: var(--text-color);
  padding: var(--spacing-sm) var(--spacing-md);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.navbar-menu li a:hover {
  color: var(--primary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Hamburger */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  background: none;
  border: none;
}

.navbar-toggle span {
  height: 3px;
  width: 25px;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: 0.3s;
}

.navbar-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.open span:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    flex-direction: column;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .navbar-menu.active {
    max-height: 500px;
  }

  .navbar-menu li a {
    padding: var(--spacing-md);
  }

  .navbar-toggle {
    display: flex;
  }
}
